:root {
  --animate-duration: 200ms;
  /* --animate-delay: 0.9s; */
}

* {
  font-family: Arial, Helvetica, sans-serif;
}

html, body {
  background-color: #21232A;
  color: white;
  font-size: 1.3rem;
}

body {
  padding: 60px;
  max-width: 1366px;
  margin: 0 auto;
}

input {
  border-radius: 10px;
  color: gray;
  font-size: 1.2rem;
  outline: none;
  width: 100%;
}

ol {
  padding: 0;
}

.card-grid {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  gap: 10px;
  
  perspective: 500px;
}

.card {
  background: linear-gradient(45deg, black, transparent);
  border: 1px solid gray;
  border-radius: 6px;
  overflow: hidden;
  width: 250px;
  height: 330px;
  text-align: center;
  transition-duration: 0.2s;
  transform: translateZ(-2px) !important;
}

.card:hover {
  transform: translateZ(2px) !important;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card:active {
  transform: translateZ(-2px) !important;
}

.card--image, .card img {
  background: repeating-radial-gradient(black, transparent 100px);
  height: 170px;
  border-bottom: 1px dotted white;
}

.card .card--image img {
  background: unset;
  border-bottom: unset;
}

.card p {
  padding: 5px;
}

.not-results {
  margin-left: 1rem;
}